
.margin-padding-5 {
    margin:5px;
    padding:5px
}

.toolbar {
    position:absolute;
    right: 15px;
    top: 10px;
}

.tabletoolbar {
    display: none;
}

.choosed {
    border: 3px solid red;
    border-radius: 5px;
}